
.header {
    background-color: #daeecc;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1em;
}

p.slogan{
    font-size: 5em;
    font-family: "Arial";
}

p.poweredBy{
    font-size: 1.5em;
    font-weight: 1500;
}

.aboutTitle{
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1em;
    font-size: 1.75em;
    font-family: "Arial";
}
span{
    color: green;
    font-weight: bold;
}

.image{
        max-width: 5%;
}

.flexbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.flex-item {
    flex: 1; /* Allow items to grow and shrink */
    max-width: 150vh; /* Maximum width for each item */
    min-width: 50vh; /* Minimum width for each item (optional) */
    padding: 20px; /* Padding inside items */
    box-sizing: border-box; /* Ensure padding and border are included in width */
    text-align: center; /* Center text inside items */
}

